<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BenimKitaplığım – Giriş</title>

    <!-- Tailwind CDN -->

    <link href="~/css/global.css" rel="stylesheet" />
    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
          rel="stylesheet" />
    <link href="~/css/output.css" rel="stylesheet" />
</head>

<body class="relative overflow-hidden bg-yellow-50">


    <div class="absolute inset-0 z-0 pointer-events-none
     bg-[radial-gradient(ellipse_at_top_left,_#a5f3fc_30%,_transparent_70%),
        radial-gradient(ellipse_at_bottom_right,_#fed7aa_30%,_transparent_70%)]"></div>
    <nav>
        <div>

        </div>
    </nav>
   

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="/js/AnaSayfa.js"></script>

</body>
</html>
